footer {
    &.article-footer {
        background-color: unset;
        color: inherit;
    }
    &.footer {
        color: $white;
        background-color: $black;
        margin-top: 0;
        .cell {
            margin-top: 2em;
            margin-bottom: 2em;
        }
        .text-center {
            text-align: left;
            @include breakpoint(medium) {
                text-align: center;
            }
        }
        .text-right {
            text-align: center;
            @include breakpoint(medium) {
                text-align: right;
            }
        }
        ul.menu {
            li {
                a {
                    color: $white;
                    border-bottom: 2px solid $black;
                    transition: border-bottom-color .3s ease;
                    padding: 0;
                    margin: 0 0 0.2em 0;
                    &:hover {
                        border-bottom-color: $primary-color;
                    }
                }
                &.active, &.is-active {
                    > a {
                        background: $black;
                        color: $primary-color;
                    }
                }
            }
        }
        nav {
            display: inline-block;
        }
        .credits {
            font-size: 0.7rem;
        }
        #social-links {
            .socials {
                padding: 0 1em;
                @include breakpoint(small only) {
                    padding: 0;
                    padding-right: 1em;
                }
                span {
                    font-size: 3em;
                }
            }
        }
    }
}