#ljc-quote-form,
.ljc-quote-form {
  input,
  textarea {
    box-shadow: none;
    border: solid $black;
    border-width: 0 0 6px 6px;
    width: 100%;
    &:focus {
      background-color: $complimentary-color;
      &::placeholder {
        color: $black;
      }
    }
  }
  textarea {
    height: 150px;
  }
  label {
    font-family: $header-font-family;
    font-size: 1.4rem;
  }
}

.wpforms-field-hp {
  display: none;
}
