.page-break {
  display: inline-block;
  height: 1px;
  border: 0;
  background: black;
  background: -webkit-gradient(
    linear,
    0 0,
    100% 0,
    from($body-background),
    to($body-background),
    color-stop(50%, $black)
  );
}

#home-page {
  .button {
    margin: 0;
  }
  h1 {
    @include breakpoint(small) {
      font-size: 18px;
    }
    @include breakpoint(medium) {
      font-size: 24px;
    }
    @include breakpoint(large) {
      font-size: 24px;
    }
    @include breakpoint(xlarge) {
      font-size: 28px;
    }
  }
  span.h2,
  h2 {
    display: block;
    margin-top: 0;
  }
  .cell {
    img {
      @include breakpoint(xlarge) {
        width: 100%;
        &.svg-icon {
          width: 25%;
        }
      }
      &.imgleft {
        border: solid $black;
        border-width: 6px 0 0 6px;
        @include breakpoint(small only) {
          border: solid $black;
          border-width: 6px;
        }
      }
      &.imgright {
        border: solid $black;
        border-width: 6px 6px 0 0;
        @include breakpoint(small only) {
          border: solid $black;
          border-width: 6px;
        }
      }
    }
    &:nth-child(1) {
      display: flex;
      flex-direction: column;
      a {
        margin-top: auto;
      }
    }
    &:nth-child(4) {
      span.h6,
      h6 {
        display: block;
        margin-top: 0.5rem;
      }
    }
    &:nth-child(n + 5):nth-child(-n + 7) {
      padding: 1em;
      @include breakpoint(small only) {
        border: none;
      }
    }
    &:nth-child(5) {
      background-color: $secondary-color;
      border: solid $black;
      border-width: 0 0 6px 6px;
    }
    &:nth-child(6) {
      background-color: $complimentary-color;
      border: solid $black;
      border-width: 0 6px;
    }
    &:nth-child(7) {
      background-color: $primary-color;
      border: solid $black;
      border-width: 0 6px 6px 0;
    }
    // &:nth-child(8) {
    //     border: solid $black;
    //     border-width: 0 6px 6px;
    // }
  }
  #services {
    border: solid $black;
    border-width: 6px 0;
    margin-bottom: 4em;
    div {
      margin-bottom: 1em;
    }
    img.svg-icon {
      filter: invert(0.5);
      width: 15%;
      @include breakpoint(xlarge) {
        width: 15%;
      }
    }
    h2:nth-child(1) {
      margin-top: 1em;
    }
    h3 {
      font-size: 0.75em;
      @include breakpoint(small only) {
        min-height: 3em;
      }
    }
    div:nth-child(3n + 2) {
      span {
        &.tags.button {
          background-color: $secondary-color;
          &:hover {
            background-color: scale-color($secondary-color, $lightness: -15%);
          }
        }
      }
    }
    div:nth-child(3n + 3) {
      span {
        &.tags.button {
          background-color: $complimentary-color;
          &:hover {
            background-color: scale-color(
              $complimentary-color,
              $lightness: -15%
            );
          }
        }
      }
    }
    a {
      color: $black;
    }
  }
}

img.svg-icon {
  display: block;
  margin: 0 auto;
  width: 25%;
  margin-bottom: 1em;
}
