p {
  @include breakpoint(xlarge) {
    font-size: $global-font-size * 1.2;
  }
  &.tags {
    a {
      margin-right: 10px;
      &:nth-child(3n + 2) {
        background-color: $secondary-color;
        &:hover {
          background-color: scale-color($secondary-color, $lightness: -15%);
        }
      }
      &:nth-child(3n + 3) {
        background-color: $complimentary-color;
        &:hover {
          background-color: scale-color($complimentary-color, $lightness: -15%);
        }
      }
    }
  }
}

h2 {
  margin-top: 2em;
}

h3.widgettitle {
  @extend h2;
}

.more-link {
  font-family: $header-font-family;
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}

.hide-me {
  display: none;
}

.cell {
  margin-bottom: 5em;
}

header.cell {
  margin-bottom: 1em;
}

main.cell {
  margin-bottom: 0;
}

.category-border {
  border-left: 6px solid $black;
  padding-left: 10px;
  margin-bottom: 2rem;
  p {
    margin-bottom: 0;
  }
}

.ljc-portfolio-images {
  padding-right: 10px;
  &.cell {
    margin-bottom: 10px;
  }
  img {
    width: 100%;
  }
}

a {
  &.swipebox {
    img {
      @include breakpoint(small only) {
        height: 40vw;
        max-height: 150px;
      }
    }
  }
}

#ljc-breadcrumbs {
  margin-bottom: 2em;
}

#off-canvas-quote {
  .off-canvas-fullscreen-inner {
    background-color: $white;
  }
}

#ljc-contact-hover {
  .cell {
    margin-bottom: 0;
  }
  &.cell {
    margin-bottom: 0;
  }
  .button {
    max-width: 115px;
  }
}

.category-portfolio {
  h2 {
    margin-top: 0;
  }
}

@import "./components/gallery";
