.top-bar {
    background-color: $body-background;
    ul {
        background-color: $body-background;
        font-family: $header-font-family;
        a {
            color: $black;
        }
    }
}

ul.menu {
    li {
        a {
            border-bottom: 2px solid $body-background;
            transition: border-bottom-color .3s ease;
            &.ljc-menu-btn {
                border-bottom: none;
                transition: none;
                &:hover {
                    border-bottom-color: inherit;
                }
            }
            &:hover {
                border-bottom-color: $black;
            }
        }
        &.active, &.is-active {
            > a {
                background: $body-background;
                color: $black;
            }
        }
    }
}

#logo {
    border: none;
}

ul.accordion-menu {
    font-family: $header-font-family;
}