.ljc-menu-btn {
    margin-top: 6px;
}

.ljc-hamburger {
    margin-top: 0.5rem;
    padding: 0 10px;
}

.ljc-burger {
    border-top: 6px solid $black;
    border-bottom: 6px solid $body-background;
    height: 6px;
}

.off-canvas-fullscreen {
    @include off-canvas-base($background: transparent, $transition: 0.3s ease-in-out);
    @include off-canvas-position($position: right, $sizes: 100%);
  }

  .off-canvas-fullscreen-inner {
    padding: 1rem;
    text-align: center;
  }

  .off-canvas-fullscreen-close {
      width: 100%;
      font-size: 3em;
  }

  .off-canvas-content {
    &.is-open-right {
        filter: blur(7px);
    }
}

.off-canvas-fullscreen {
    width: 100%;
    visibility: hidden;
    &.is-transition-overlap {
        box-shadow: none;
        background: transparent;
        &.is-open {
            box-shadow: none;
        }
    }
    &.is-open {
        visibility: visible;
    }
    ul.menu {
        li {
            &:focus {
                outline: none;
            }
            a {
                display: inline-flex;
                color: $black;
                border-bottom: 2px solid transparent;
                transition: border-bottom-color .3s ease;
                &:hover {
                    border-bottom-color: $black;
                }
            }
            &.active, &.is-active {
                > a {
                    background: transparent;
                    color: $black;
                }
            }
        }
    }
}