.easy_t_single_testimonial {
  .easy_testimonial {
    border-left: solid $black 6px;
    p {
      &.testimonial_author {
        margin-bottom: 0;
      }
    }
    .testimonial_body {
      & p {
        & a {
          font-family: $header-font-family;
          color: $primary-color;
        }
      }
    }
    cite {
      font-family: $header-font-family;
      font-style: unset;
    }
    .stars .dashicons-star-filled,
    .stars .dashicons-star-half,
    .stars .dashicons-star-empty {
      color: $complimentary-color;
    }
    .testimonial-other {
      display: none;
    }
  }
}
