.ljc-gallery {
  display: grid;
  grid-template-columns: auto auto auto;
  @include breakpoint(large) {
    grid-template-columns: auto auto auto auto;
  }
  grid-gap: 1rem;
  margin-bottom: 1rem;
  img {
    object-fit: cover;
    width: 100%;
  }
}
.slick-prev {
  color: $primary-color;
  font-size: 30px;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 9;
}

.slick-next {
  color: $primary-color;
  font-size: 30px;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  z-index: 9;
}
.portfolio-gallery {
  .slick-slide {
    > img {
      width: 100%;
    }
  }
}
